:root {
    --primero: #dcc7aa;
    --segundo: #373737;
    --tercero: #f7c331;
    --cuarto: #f7882f;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
} 

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
    background-color: var(--primero);
    /* background-image: url(../multimedia/fondo2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

h1 {
    font-size: 5.8rem;
    text-transform: uppercase;
    font-family: 'Rubik Mono one', sans-serif;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;

}

h4 {
    font-size: 2.6rem;
}

h1, h2, h3, h4 {
    text-align: center;
}

.contenedor {
    width: 100%;
    min-height: 10rem;
    background-color: var(--segundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .8);
}

.contenedor__logo {
    margin-left: 1rem;   
}

.contenedor__logo img {
    margin: 0;
    height: 10rem;
}

.navegacion {
    margin-right: 2rem;
    display: inline;
}

.listas{
    list-style-type: none; 
    margin: 0;
    text-transform: uppercase;
}
ul {
    text-align: right;
}
li {
    display: inline;
}

.listas a{
    color: var(--primero);
    text-decoration: none;
    margin: 2rem;
    font-size: 1.5rem;
}
.listas a:hover, a.active {
    padding: 1rem;
    color: white;
    background: rgba(0, 0, 0, .2);
    border-radius: .5rem;
}

 @media (max-width: 1150px){
    header {
        flex-direction: column;
    }

    .contenedor__logo img {
        height: 7rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--primero);
    }
    li {
        display: block;
        text-align: center;
    }
}


/* Main */
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100rem;
    background-image: url(../multimedia/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.titulo {
    width: 100%;
    color: var(--primero);
    padding-bottom: 5rem;
    text-align: center;
}
.titulo__parrafo {
    flex-direction: column;
    text-align: center;
    font-size: 2.6rem;
}
.titulo__parrafo h2 {
    padding-bottom: 3rem;
    color: var(--tercero);
}
.titulo__parrafo p {
    margin: 0 20rem;
    color: var(--primero);
}

/* ¿como se hace? */

.tecnicas {
    min-height: 120rem;
}

.derecha {
    text-align: end;
}

/* DISEÑOS */
.galeria {
    text-transform: uppercase;
    color: var(--segundo);
}

.categorias {
    margin-left: 30rem;
}

.galeria__animales,
.galeria__estatuas {
    display: inline-block;
}

.galeria__animales img,
.galeria__estatuas img {
    width: 20rem;
    margin-left: 5rem;
    border-radius: 2rem;
}

/* Contacto */

h2, label {
    text-align: center;
    color: var(--primero);
    text-transform: uppercase;
}

.formulario {
    background-color: var(--primero);
    margin: 0 auto;
    width: 50%;
    padding: 2rem;
    border-radius: 2rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    color: var(--segundo);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.campos {

}

.relleno {
    margin-bottom: 1rem;
}
.relleno label {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #6b7a87;
    margin-bottom: .5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}
/* footer */

footer {
    height: 6rem;
    font-size: 1rem;
    margin-bottom: 0;
    background-color: var(--segundo);
    color: var(--primero);
    text-align: center;
    text-transform: uppercase;
}
footer p {
    margin: auto;
    padding-top: 2rem;
}

footer i {
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--primero)
    
}



